<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">In preparation</h4>
    {% for item in site.data.publications.prep %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
  </div>

  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">2021</h4>
    {% for item in site.data.publications.2021 %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
  </div>

  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">~2021</h4>
    {% for item in site.data.publications.postdoc %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
  </div>
</div>
