<div class="row g-5 mb-5">
  <p>† and * denote co-first and co-corresponding author, respectively.</p>
  
  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">In preparation</h4>
    <ul>
      {% for item in site.data.publications.prep %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">2021</h4>
    <ul>
      {% for item in site.data.publications.yr2021 %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">~2021</h4>
    <ul>
      {% for item in site.data.publications.postdoc %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
