---
layout: default
published: true
---

{{ content }}

<h3>Member</h3>
{% for person in site.data.settings.pi %}
<div class="row g-5 mb-5">
  <div class="col-md-2">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-md-10">
    <h5>{{ person.name }}</h5>
    <p>Position: {{ person.title }}</p>
    <p>Email: {{ person.email }}</p>
    <p>Office: {{ person.office }}</p>
    <p><a href="{{ site.github.url }}/member/professor">More info</a></p>
  </div>
</div>
{% endfor %}

{% for person in site.data.settings.member %}
<div class="row g-5 mb-5">
  <div class="col-md-2">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-md-10">
    <h5>{{ person.name }}</h5>
    <p>Position: {{ person.title }}</p>
    <p>Email: {{ person.email }}</p>
    <p>Office: {{ person.office }}</p>
  </div>
</div>
{% endfor %}

{% for person in site.data.settings.alumni %}
<h3>Alumni</h3>
<div class="row g-5 mb-5">
  <div class="col-md-10">
    <h5>{{ person.name }}</h5>
    <p>{{ person.period }}, now at {{ person.title }}</p>
  </div>
</div>
{% endfor %}
